.chatHeader {
    margin-top: 80px;
    width: 105.2%;
    background-color: cadetblue;
    padding: 20px;
    margin-left: -60px;
    display: flex;
    align-items: center;
}

.chatHeader h5 {
    margin-left: 10px;
}

.chatBottom {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    margin-left: -40px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
}

.chatBottom input {
    width: 1140px;
    border: none;
    outline: none;
}

.chat {
    margin-top: 20px;
    float: right;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    clear: both;
}

.chat span {
    display: block;
    background-color: #075e54;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.receive {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    float: left;
    clear: both;
}

.receive span {
    display: block;
    background-color: gainsboro;
    color: black;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}