.add {
    margin-top: 100px;
}

.header {
    margin-bottom: 30px;
}

.bodys{
    font-family: 'Montserrat', 'sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.overlay-containers {
    background-image: url('../../../public/c.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}