.sidebar {
    background-color: black;
    width: 330px;
    position: fixed;
    height: 89vh;
    top: 86px;
}

.sidebarList {
    list-style: none;
}

.sidebarList li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.sidebarList li:last-child {
    border-bottom: none;
}

.sidebarList li a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

Link li a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.iconss {
    color: white;
}